/* general */
* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: 'Ubuntu', sans-serif;
}
#main_content {
    z-index: 2;
    position: relative;
    overflow: auto;
}

/* background */
#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* navbar */
.navbar-brand{
margin-left: 6%;
color:white;
}
.navbar-brand:hover{
    color: white;
}
.navbar {
    background:hsla(0, 0%, 20%, 0.5);
    padding:0%;
}
#navbarSupportedContent{
    margin-left: 45%;
}
input{
    margin-right:0%;
    border:none;
}
.searchBtn{
    margin-left:0%;
    border: none;
    background:white;
}
.favBtn, .trendingBtn  {
    background:hsla(0, 0%, 20%, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right:2%;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background:hsla(0, 0%, 20%, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.favBtn:hover, .trendingBtn:hover{
    color: red; 
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color:  red;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
/* content */
#pageTitle{
    color: white;
    display: block;
    text-align:center;
    margin-top:5%;
}
#map ,#list{
    border: 1px solid white;
    width:700px;
    height:500px;
    margin: 5%;
    margin-left: 20%;
    color: white;
    background: hsla(0, 0%, 20%, 0.5);
    padding:2%;
}
